<form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
  <h2>Admin Login to NetMap</h2>

  <div class="form-group">
    <label for="username">Username</label>
    <input
      id="username"
      type="text"
      pInputText
      formControlName="username"
    />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      pPassword
      formControlName="password"
      feedback="false"
    />
  </div>

  <p-button
    type="submit"
    label="Login"
    severity="primary"
    styleClass="submit-button"
    [disabled]="form.invalid"
  ></p-button>
</form>
