<p-card class="job-card">
  <ng-template pTemplate="header">
    <div class="card-header">
      <h3>{{ job.title }}</h3>
      <span class="salary">{{ '$' + job.salary }}</span>
    </div>
  </ng-template>

  <div class="company">{{ job.company_name }}</div>
  <div class="description">{{ job.description }}</div>

  <div class="details">
    <div><i class="pi pi-calendar"></i> {{ job.post_date }}</div>
    <div><i class="pi pi-globe"></i> {{ job.is_remote ? 'Remote' : 'On-site' }}</div>
    <div><i class="pi pi-user"></i> {{ job.is_freelance ? 'Freelance' : 'Full-time' }}</div>
    <div><i class="pi pi-map-marker"></i> {{ cityName }}</div>
  </div>

  <div *ngIf="job.skills?.length" class="skills">
    <strong>Skills:</strong>
    <p-chip *ngFor="let skill of job.skills" label="{{ skill }}"></p-chip>
  </div>

  <ng-template pTemplate="footer">
    <div class="actions">
      <button
        pButton
        type="button"
        icon="pi pi-map-marker"
        label="Show on Map"
        class="p-button-sm p-button-text"
      ></button>

      <button
        pButton
        type="button"
        icon="pi pi-send"
        label="Apply"
        class="p-button-sm p-button-primary"
      ></button>
    </div>
  </ng-template>
</p-card>
